#myBox{
    background-color: #00565F;
    width: 300px;
    height: 300px;
    font-size: 4.1rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    color: #FFFFFF;
    cursor: pointer;

}

#myButton {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: #212b2A;
    cursor: pointer;
    color: #FFFFFF;
    padding-right: 1rem;
    padding: 1rem;
    display: flex;

    align-items: center;
    transition: background-color 0.3s ease;
}

.button-text {
    font-size: 1.6rem;

}


#myButton:hover {
    background-color: #0E0F11; /* Define a cor de fundo ao passar o mouse */
}